%h1 Частичный ремонт квартир
%article
  - img = Image.find_by_alt("частичный ремонт квартир")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Частенько случается так, что ремонт квартиры сделать необходимо, но по
    некоторым причинам для проведения полноценного
    = link_to "ремонта своей квартиры под ключ", vidy_remonta_remont_kvartir_pod_klyuch_path
    средств недостаточно. В этом случае может выручить
    %strong частичный ремонт квартир,
    при котором ремонтно-отделочные работы выполняются выборочно.
  %p
    Допустим, сначала приводим в порядок потолки в одной комнате, затем клеим
    обои и так далее. Можно даже сделать выборочный
    = link_to "косметический ремонт отдельными комнатами.", vidy_remonta_kosmeticheskij_remont_komnaty_path
    Частичный ремонт в квартире всегда предполагает, что ремонтно-отделочные
    работы производятся в помещениях, где заказчик проживает.
  %p
    Конечно, в этом случае ремонт всей квартиры затягивается, и долго жить в
    условиях ремонта не совсем приятно. Здесь поговорка «ремонт нельзя закончить,
    его можно только приостановить» как нельзя кстати. Но преимущество частичного
    ремонта квартир в том, что отремонтировать квартиру можно даже при отсутствии
    необходимой полной суммы средств.
  %p
    Наша бригада частных мастеров выполнит частичный ремонт квартир с поэтапной
    оплатой. Звоните, и специалисты сделают качественный ремонт квартиры
    частично и по доступной цене!

  %h2 Частичный ремонт квартир и его особенности
  %p
    При проведении частичного ремонта квартиры есть свои нюансы, и вот
    несколько советов:
  %table
    %tbody
      %tr
        %td
          %i.material-icons search
        %td
          В квартире должно быть достаточно места для переноса мебели, которую
          нужно куда-то поставить для освобождения ремонтируемого помещения;
      %tr
        %td
          %i.material-icons search
        %td
          О замене окна или межкомнатной двери в комнате подумайте заранее,
          иначе после выполненных отделочных работ демонтаж окон или дверей
          может испортить внешний вид отремонтированного помещения;
      %tr
        %td
          %i.material-icons search
        %td
          Даже при изоляции помещения, в котором будут проводиться ремонтные
          работы, рабочие будут перетаскивать строительную грязь, поэтому
          необходимо убрать легко пачкающиеся предметы с пути передвижения мастеров;
      %tr
        %td
          %i.material-icons search
        %td
          = link_to "Ремонт в ванной комнате", vidy_remonta_remont_vannoj_komnaty_v_moskve_path
          , ремонт туалета или санузла и
          = link_to "ремонт в прихожей (в коридоре)", vidy_remonta_remont_koridora_pod_kljuch_path
          в квартире рекомендуется делать в последнюю очередь, это поможет
          максимально сохранить их эстетичный и обновленный вид.
  %table{style: "margin: 20px 0;"}
    %tbody
      %tr
        %td
          %i.material-icons warning
        %td
          %em
            Кстати, для защиты помещения от строительной грязи может пригодиться
            магнитная полиэтиленовая пленка. Благодаря её статическим свойствам
            можно уберечь от строительной пыли предметы интерьера без наклеивания
            на поверхность. Особенно целесообразно применение магнитной пленки
            при циклевке паркета.

  - img = Image.find_by_alt("частичный ремонт квартиры в Москве")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Следует сказать, что не все подрядчики и строительные бригады готовы
    выполнять частичный ремонт квартир. В этом случае Вам необходимо выбранному
    подрядчику сразу обозначить предстоящий объём работ и последовательность.
    Ведь известно, что
    %strong
      одна и та же бригада выполнит работу намного лучше, чем «сегодня – один,
      потом – другой».
  %p
    Наши частные мастера готовы выполнить ремонт Вашей квартиры в Москве
    частично, с поэтапным продолжением. Кроме того, великолепные знания
    современных материалов и технологий уберегут Ваш скромный бюджет от
    излишних трат.
