%h1 Комплексный ремонт квартир
%article
  - img = Image.find_by_alt("комплексный ремонт квартир")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Ремонт – это всегда сложный, затратный и трудоёмкий процесс. Предположим,
    что решение о необходимости отремонтировать квартиру принято, бюджет
    сформирован, теперь нужно определить, какой именно ремонт необходим Вашей
    квартире.
  %p
    Все зависит от того, насколько масштабные изменения требуются, а также
    насколько готовы хозяева морально и материально. Если решено, что жилью
    нужен глобальный ремонт, где будет произведена полная замена электропроводки,
    сантехники, будет выполнено выравнивание стен, потолка и так далее, то
    лучшим выбором станет
    %strong комплексный ремонт квартир.
  %p
    Комплексный ремонт не может быть выполнен самостоятельно. И главная причина
    – исполнитель должен обладать достаточным опытом и навыками, которые
    требуются для проведения комплексного ремонта квартир. Не говоря уже о
    том, что нужны специальные инструменты и подробные знания свойств
    используемых строительных материалов. Обращайтесь к нашим специалистам!

  %h2 Комплексный ремонт квартир и что в него входит?
  %table
    %tbody
      %tr
        %td
          %i.material-icons attachment
        %td Составление сметы работ, где будут четко прописаны сроки работ, перечень и необходимое количество стройматериалов. Это – ориентир для строителей и заказчика;
      %tr
        %td
          %i.material-icons attachment
        %td
          Демонтаж. При этом выполняется демонтаж стен, пола и возведение новых перегородок, а также
          = link_to "делается стяжка пола", vidy_rabot_stjazhka_pola_cena_path, target: :_blank
          , штробление стен для прокладки необходимых кабелей (телефон,
          интернет, электрокабели) и прокладка труб водопровода, канализации.
          Производятся электромонтажные работы, черновая штукатурка стен,
          потолка и других поверхностей;
      %tr
        %td
          %i.material-icons attachment
        %td Замена дверей и окон;
      %tr
        %td
          %i.material-icons attachment
        %td Подготовка стен. В этом случае делается выравнивание стен, грунтование, шпаклевка;
      %tr
        %td
          %i.material-icons attachment
        %td Поклейка обоев или покраска стен;
      %tr
        %td
          %i.material-icons attachment
        %td Укладка паркетной доски, ламината или других напольных покрытий;
      %tr
        %td
          %i.material-icons attachment
        %td Электротехнические работы: освещение, розетки, выключатели;
      %tr
        %td
          %i.material-icons attachment
        %td Установка встроенной техники, мебели.

  - img = Image.find_by_alt("комплексный ремонт квартиры в Москве и МО")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    В нашей бригаде работают только высококлассные электрики, штукатуры-маляры,
    столяры, плиточники  и другие специалисты, обладающие профессиональными
    навыками и огромным опытом работ. Заказывая комплексный ремонт у нас, Вы
    получаете много преимуществ:
  %ul
    %li
      Качественный ремонт. Наша бригада давно осуществляет ремонт квартир, мы
      знаем все особенности строительных работ и выполняем комплексные ремонты
      так, что Вы надолго забудете о ремонте своего жилья!
    %li
      Выбор строительных материалов и техник выполнения, необходимых для
      осуществления Ваших планов производится без лишних расходов. Вы не будете
      тратиться на лишний стройматериал из-за того, что строители допускают ошибки.
    %li
      Экономия. Мы знаем, где можно сэкономить без ущерба качеству ремонта и с
      удовольствием предложим Вам более экономный вариант!
