%h1 Сколько стоит ремонт в новостройке
%article
  %p
    Поздравляем! Квартира в новом и красивом доме наконец-то куплена.
    Обустройство нового жилья начинается с ремонта и очень хочется, чтобы
    отделка не сильно ударила по семейному бюджету, ведь Вы недавно потратились
    на приобретение собственной квартиры, возможно еще и ипотека осталась.
    Зачастую большинство новостроек сдаются покупателям в состоянии, не
    предполагающем заселение в короткие сроки.
    %strong Узнайте, сколько стоит ремонт в новостройке Москвы и области
    от бригады мастеров
    %span{ style: "color: #800;" } Ремонтами7.
  %p
    %strong{ style: "color: red;" } Не ищите дешевле - выбирайте качество и сроки!
  %p
    В нашей бригаде работают только опытные специалисты, все граждане РФ. Мы не
    экономим на клиентах и не используем труд гастарбайтеров ради сомнительных
    прибылей!
    %strong
      Наши мастера бригады выполнят ремонт квартир в новостройках по доступной
      стоимости, профессионально и без просрочек, звоните!

  %table{style: "width: 100%;"}
    %tbody
      %tr
        - unless browser.device.mobile?
          %td{ rowspan: 3 }
            - img = Image.find_by_alt("contact")
            = image_tag img.static_image.url(:med), alt: "#{img.alt}"
        %td
          %span
            %strong
              По тел:
              %a{ href: "tel:#{@default_phone_normal}", class: "blue" }= @default_phone
        - unless browser.device.mobile?
          %td{ rowspan: 3 }
            - img = Image.find_by_alt("qr-code")
            = image_tag img.static_image.url(:med), alt: "#{img.alt}"
      %tr
      %tr
        %td
          %span
            %strong
              По почте:
              %a{ href: "/mail", target: "_blank", class: "blue" } info@remontami7.ru

  %table{ style: "width: 100%; margin: 20px 0;" }
    %tbody
      %tr
        %td{ colspan: 3, style: "text-align: center; background-color: #ffdead; padding: 5px;" }
          %strong Стоимость ремонта новостроек под ключ
      %tr
        %td{ style: "text-align: center; background-color: #f4a460; padding: 15px;" }
          %strong
            Однокомнатная квартира 40 м
            %sup 2
        %td{ style: "text-align: center; background-color: #f4a460; padding: 15px;" }
          %strong
            Двухкомнатная квартира 60 м
            %sup 2
        %td{ style: "text-align: center; background-color: #f4a460; padding: 15px;" }
          %strong
            Трехкомнатная квартира 75 м
            %sup 2
      %tr
        %td{ style: "text-align: center; background-color: #d2b48c; padding: 15px;" }
          от
          %strong 200 000
          руб
        %td{ style: "text-align: center; background-color: #d2b48c; padding: 15px;" }
          от
          %strong 300 000
          руб
        %td{ style: "text-align: center; background-color: #d2b48c; padding: 15px;" }
          от
          %strong 375 000
          руб
      %tr
        %td{ colspan: 3, style: "text-align: center; background-color: #ffdead; padding: 5px;" }
          Указана стоимость кап.ремонта
          = link_to "Стандарт", informaciya_remont_kvartiry_standart_path
          по цене 5 000 руб/м2

  %p{ style: "color: #800;" }
    %strong Внимание!
    %em
      Указана средняя стоимость ремонта новостройки под ключ без учета стоимости
      материалов. В зависимости от объема выполненных работ от застройщика
      стоимость черновых материалов составляет 40 - 60% стоимости ремонта.
  %p
    Конечно, для начала необходимо определить, какие работы будут входить в
    ремонт Вашей новой квартиры.

  %h2 Ремонт в новостройке и что в него входит
  %p
    Обычно новое жилье требует серьезного и полноценного подхода от устройства
    стяжки пола в новой квартире до отделки. Лишь малая доля застройщиков сдают
    покупателям квартиры в том виде, когда нужна лишь чистовая отделка. Кстати,
    зачастую проще и даже дешевле сделать все с нуля, чем демонтировать
    низкокачественную паркетную доску, сантехнику и обои.

  %table
    %tbody
      %tr
        %td
          %i.material-icons attachment
        %td
          Планировка квартиры. Обычно этот пункт ремонта относится к
          квартирам-студиям. Но, возможно, в Вашей новостройке квартира сдана
          только с несущими стенами, и «городить» все перегородки нужно
          самостоятельно. Преимущество в том, что обустройство жилья будет
          выполнено по своему вкусу, но есть и недостаток – стоимость ремонта в
          новостройке с планировкой обойдется дороже;
      %tr
        %td
          %i.material-icons attachment
        %td Прокладка сантехнических труб;
      %tr
        %td
          %i.material-icons attachment
        %td Электротехнические работы;
      %tr
        %td
          %i.material-icons attachment
        %td Малярные работы – выравнивание стен, пола, потолков;
      %tr
        %td
          %i.material-icons attachment
        %td Установка дверей;
      %tr
        %td
          %i.material-icons attachment
        %td Окончательная отделка.

  - img = Image.find_by_alt("средняя стоимость ремонта квартир в новостройках")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    %strong
      Средняя стоимость ремонта в новостройке может значительно различаться в
      зависимости от того, какой именно ремонт Вам необходим:
    просто черновой ремонт-минимум без отделки, полный комплексный ремонт под
    ключ или только отделка без черновых работ.
  %p
    Перед началом работ необходимо хорошо продумать вариант перепланировки и
    согласовать ремонт в новостройке с перепланировкой, а так же оптимизировать
    пространство помещения, что бы в дальнейшем избежать напрасных усилий.
  %p
    Не секрет, что в первые годы жизни здание дает усадку, что может негативно
    сказаться на результатах ремонта. Наши мастера всегда в курсе новинок
    строительного рынка и применяют современные материалы, которые
    характеризуются отсутствием деформации, проводят дополнительное армирование
    стен, пола и потолка при помощи специальных сеток. Возможно использование
    других техник и специальных составов, предотвращающих отслоение декоративной
    отделки при усадке здания.

  %h2 Перечень работ по ремонту квартиры в новостройках
  %p
    При обращении к нам бригада частных мастеров-специалистов выполнит следующие работы:
  - img = Image.find_by_alt("ремонт новостроек под ключ стоимость")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %ul
    %li перенос стен и перегородок;
    %li разводка сантехнических труб;
    %li замена радиаторов отопления;
    %li замена и установка межкомнатных дверей в квартире;
    %li разводка электропроводки, телефонных, ТВ и интернет кабелей;
    %li монтаж электрического щитка;
    %li укладка теплых полов;
    %li= link_to "стяжка пола;", vidy_rabot_stjazhka_pola_cena_path
    %li оштукатуривание стен, оконных и дверных проемов;
    %li устройство потолков (натяжных, подвесных либо оштукатуривание под покраску);
    %li монтаж арок;
    %li шпаклевка потолков и стен;
    %li монтаж сантехнического оборудования;
    %li монтаж вентиляционной системы;
    %li
      плиточные работы и
      = link_to "укладка кафельной или керамической плитки;", vidy_rabot_ukladka_plitki_path
    %li монтаж реечных потолков в ванной комнате и санузле;
    %li покраска стен либо поклейка обоев;
    %li= link_to "покраска потолков и их отделка;", vidy_rabot_pokraska_sten_potolka_cena_path
    %li
      укладка напольного покрытия (
      = link_to "устройство ламинированного пола, паркетной доски", vidy_rabot_ukladka_laminata_cena_path
      , линолеума);
    %li установка плинтусов, подоконников;
  %p
    Мы предоставляем полный спектр услуг по ремонту  и отделке нового жилья по
    адекватным ценам для Московского региона для того, чтобы средняя стоимость
    ремонта в новостройке была доступной. При необходимости привлечения
    сторонних специалистов (установка кондиционеров, пластиковых окон или дверей)
    организуем качественные работы специалистов и тщательный контроль за
    соблюдением сроков. В заключении организуем вывоз строительного мусора.
