%h1 Ремонт детской комнаты
%article
  - img = Image.find_by_alt("remont-v-detskoj-komnate")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    С особой ответственностью необходимо ремонтировать детскую комнату. Как и
    каждый родитель, Вы стремитесь дать своему ребенку все самое лучшее, в том
    числе и территорию. Особенность ремонта в детской состоит в том, что
    помещение для самого маленького и главного жильца квартиры будет и спальней,
    и гостиной, и игровой. Именно поэтому
    %strong
      делать ремонт детской комнаты и продумывать дизайн требуется особенно тщательно.
  %p
    Для ремонта в детской нужно использовать только экологически чистые и
    безопасные материалы, которые не навредят ребенку. Также рекомендуется
    избегать таких составов и материалов, которые легко бьются или ломаются с
    образованием мелких колющих частей. Специалисты компании Ремонтами7 имеют
    большой опыт в ремонте комнат для детей и выполнят ремонтно-отделочные
    работы в детском помещении с использованием безопасных составов и материалов.

  %h2 Основные рекомендации в ремонте детской
  %p
    Начинать ремонт в детской следует с тщательной планировки и зонирования
    помещения. Где будет ребенок спать, играть, заниматься? Это можно сделать с
    помощью специальных программ или блокнота с ручкой. Также необходимо в
    начале ремонта определить цветовую гамму комнаты и варианты освещения.
  %table
    %tbody
      %tr
        %td
          %i.material-icons search
        %td
          Для ремонта детской комнаты используйте только безопасные материалы.
          Не используйте некачественные и дешевые лаки, краски, линолеум и
          прочее. Заметим, что даже деревянные окна в детской лучше не
          использовать, ведь они обрабатываются специальными составами от
          гниения и сырости. В этом плане лучше установить пластиковые окна.
      %tr
        %td
          %i.material-icons search
        %td
          Деревянный пол - лучший пол для детской! Также хорошо подойдет не
          скользкий ламинат,
          = link_to "уложенная мастером паркетная доска,", vidy_rabot_ukladka_parketnoy_doski_path, target: :_blank
          паркет или пробковый паркет. Можно постелить ковролин, но только
          гипоаллергенный с коротким ворсом и специально разработанный для таких
          помещений. Используйте ковры, которые можно легко собрать и почистить.
      %tr
        %td
          %i.material-icons search
        %td
          Потолок в детской лучше сделать в бело-голубой цветовой гамме,
          напоминающей небо, это успокаивающе действует на нервную систему детей.
      %tr
        %td
          %i.material-icons search
        %td
          Для оформления стен в детской можно привлечь самого хозяина комнаты,
          если его возраст это позволяет, тогда ему будет всегда комфортно в
          помещении. Сейчас в строительных магазинах есть специальные обои,
          которые можно раскрашивать, тогда малыш сам оформит свою комнату
          собственным творчеством. При решении поклеить обоями стены лучше
          использовать бумажные обои и специальный не токсичный клей.

  %h2 Ремонт комнаты для мальчика
  - img = Image.find_by_alt("ремонт в комнате мальчика с пиратскими мотивами")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Главный атрибут мальчиковой комнаты - это спортивный уголок, и для его
    установки при подготовке к ремонту детской комнаты требуется определить
    место. А комнаты для малышей, как правило, не большие, и установка
    спортивного уголка "съест" много площади.
  %p
    В этом случае можно использовать кровать-чердак: на нижнем этаже устраивают
    рабочую зону с компьютером или тумбы и различные шкафы для игрушек, а в
    верхней части устраивают спальное место.
  %p
    Цветовая гамма комнаты должна нравиться малышу, а для этого не забывайте
    советоваться с ее владельцем. Установлено, что в комнате для мальчика хорошо
    будут смотреться синие, зеленые и коричневые цвета и оттенки. Можно оформить
    комнату в стиле любимых мультфильмов или сказок: ковбои, путешествия,
    звездные войны, боевики и так далее. Мальчики особенно ценят простоту,
    практичность и функциональность

  %h2 Ремонт в комнате для девочки
  - img = Image.find_by_alt("детская для девочки")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Основные зоны детской комнаты: спальное место, шкаф, место для занятий и
    творчества, место для игр с кукольным домиком или маленькой кухней.
    Маленькие принцессы всегда стремятся окружить себя красивыми вещами, поэтому
    используйте сказочные круглыми зеркала, красивую мебель или балдахин над
    кроватью.
  %p
    Цветовая гамма, которая нравится девочкам, конечно же розовая, а также
    желтая, фисташковая, оранжевая. Для наиболее активной принцессы особо важно
    устроить в комнате удобный стол для творчества с ящичками всевозможных
    размеров. Хорошо будут смотреться цветные аппликации на стенах и мебели в
    виде фей, бабочек и райских птичек.
  %p
    Спортивный уголок в комнате для девочки можно оформить в виде простой
    шведской стенки с ковриком на полу.
  %p
    Дети растут быстро и также быстро меняются их вкусы и привычки, поэтому
    недорогой ремонт в детской становится особенно актуальным, так как желательно
    его делать чаще. Советуем использовать в интерьере комнаты для малышей такие
    предметы и аксессуары, которые со временем можно без сожаления заменить.
