%h1 Ремонт спальни
%article
  - img = Image.find_by_alt("ремонт спальни в Москве")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Зачастую состояние спальни во много раз важнее, нежели красивая «с иголочки»
    гостиная.
    %strong
      Наши специалисты сделают профессиональный ремонт спальни, и тогда спальня
      станет тем местом в Вашей квартире, где приятно засыпать и просыпаться.
  %p
    Треть своей жизни человек проводит во сне. В это время организм отдыхает,
    восстанавливаются все системы и его работоспособность в целом. Сон имеет
    очень важное значение для здоровья, активности и хорошего самочувствия
    человека. Именно поэтому так важно, что бы спальня была обустроена
    комфортно, удобно и практично.

  %h2 Нужен ремонт в спальне?
  %p
    Мы выполняем ремонт в спальней комнате и ремонт маленьких спален в полном
    объеме: выравниваем стены,
    = link_to "делаем стяжку для устройства пола,", vidy_rabot_stjazhka_pola_cena_path, target: :_blank
    возможна облицовка стен и потолка гипсокартоном,
    = link_to "профессиональная укладка ламината,", vidy_rabot_ukladka_laminata_cena_path, target: :_blank
    устанавливаем подвесной потолок, теплый пол. А, учитывая опыт и
    профессиональные знания наших частных мастеров, стоимость ремонта спальни
    будет невелика. Таким образом, с нами Вы не только преобразите свою спальню,
    но и значительно сэкономите.
  - img = Image.find_by_alt("ремонт спальни 12 кв м")
  - if browser.device.mobile?
    = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  %p
    Спальня должна располагаться подальше от кухни и основных проходов квартиры.
    Одним словом, желательно изолировать спальню от тех мест в квартире, где
    люди находятся чаще всего. Желательно, что бы в спальне была хорошая
    звукоизоляция, тогда ничто не потревожит Ваш сон. Изоляция спальной комнаты
    хорошо реализована в двухуровневых квартирах или домах, где зоны дневного
    пребывания расположены на первом этаже, а спальные комнаты – наверху.
  %p
    Но даже ремонт маленькой спальни поможет отлично оптимизировать пространство
    и визуально увеличить площадь. Таким образом, ремонт спальни 12 кв м или
    ремонт спальни в хрущевке способен преобразить Вашу комнату. Наши
    высококлассные мастера используют только самые современные технологии, имеют
    большой опыт применения новейших строительных и отделочных материалов.
