- if browser.device.mobile?
  %p{ style: "margin: 20px 0 20px 0;" }
    %strong
      По тел:
      %a{ href: "tel:#{@default_phone_normal}", class: "blue" }= @default_phone
  %p{ style: "margin: 20px 0 20px 0;" }
    %strong
      По почте:
      %a{ href: "mailto:info@remontami7.ru", target: "_blank" } info@remontami7.ru
- else
  %table{style: "width: 100%;"}
    %tbody
      %tr
        %td{ rowspan: 6 }
          - img = Image.find_by_alt("contact")
          = image_tag img.static_image.url(:med), alt: "#{img.alt}"
        %td
        %td{ rowspan: 6 }
          - img = Image.find_by_alt("qr-code")
          = image_tag img.static_image.url(:med), alt: "#{img.alt}"
      %tr
      %tr
        %td
          %strong
            По тел:
            %a{ href: "tel:#{@default_phone_normal}", class: "blue" }= @default_phone
      %tr
      %tr
        %td
          %strong
            По почте:
            %a{ href: "mailto:info@remontami7.ru", target: "_blank" } info@remontami7.ru
      %tr
