-# image_size, image_type, image_alt
- img = Image.find_by_alt(image_alt)



- if !defined?(image_size) || image_size == "med"
  - if image_type == "info"
    - if img.info_image.exists?
      - if browser.device.mobile?
        = link_to (image_tag img.info_image.url(:small), alt: img.alt, title: img.title, style: "width: 100%;"), img.info_image.url(:original), target: "_blank"
      - else
        = link_to (image_tag img.info_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 10, hspace: 10), img.info_image.url(:original), target: "_blank"

  - elsif image_type == "vid_remonta"
    - if img.vid_remonta_image.exists?
      - if browser.device.mobile?
        = link_to (image_tag img.vid_remonta_image.url(:small), alt: img.alt, title: img.title, style: "width: 100%;"), img.vid_remonta_image.url(:original), target: "_blank"
      - else
        = link_to (image_tag img.vid_remonta_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 10, hspace: 10), img.vid_remonta_image.url(:original), target: "_blank"

  - elsif image_type == "vid_rabot"
    - if img.vid_rabot_image.exists?
      - if browser.device.mobile?
        = link_to (image_tag img.vid_rabot_image.url(:small), alt: img.alt, title: img.title, style: "width: 100%;"), img.vid_rabot_image.url(:original), target: "_blank"
      - else
        = link_to (image_tag img.vid_rabot_image.url(:med),   alt: img.alt, title: img.title, align: "right", vspace: 10, hspace: 10), img.vid_rabot_image.url(:original), target: "_blank"


- elsif image_size == "thumb"
  - if image_type == "info"
    = link_to (image_tag img.info_image.url(:thumb), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.info_image.url(:original), target: "_blank"
  - elsif image_type == "vid_remonta"
    = link_to (image_tag img.vid_remonta_image.url(:thumb), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_remonta_image.url(:original), target: "_blank"
  - elsif image_type == "vid_rabot"
    = link_to (image_tag img.vid_rabot_image.url(:thumb), alt: img.alt, title: img.title, align: "right", vspace: 5, hspace: 5), img.vid_rabot_image.url(:original), target: "_blank"
