%h1 Контакты частного мастера по ремонту квартир
%article
  = image_tag(Image.find_by_title("logo").logo.url(:logo))
  %span{:style => "font-size: 14pt; color: #800000;"}
    %em
      %strong Мы всегда рады новым клиентам!
  %p
  %span{:style => "font-size: 12pt;"}
    %strong Получить квалифицированную консультацию о стоимости наших работ, общей суммы комплексного или мелкого ремонта квартиры или другого помещения в Москве и Московской области, оформить заказ осмотра места проведения работ Вы можете:

  = render "partials/contacts"

  %p{:style => "text-align: center; margin-top: 50px;"}
    %span{:style => "font-size: 14pt;"}
      %strong Где работают наши мастера

  %table
    %tbody
      %tr
        %td
          - img = Image.find_by_alt("remont-kvartir")
          = image_tag img.static_image.url(:small), alt: "#{img.alt}"
        %td
          %strong Ремонт квартир, офисов, служебных помещений
          в Москве (все районы) и Московской области с удаленностью от МКАД ≈ до 10-15 км (к сожалению, мы ограничены дальностью в осуществлении ремонта)
      %tr
        %td
          - img = Image.find_by_alt("remont-kottedzhey")
          = image_tag img.static_image.url(:small), alt: "#{img.alt}"
        %td
          %strong Ремонт в коттеджах
          до Малого бетонного кольца ( ≈ до 35 км от МКАД)

  %hr{style: "margin: 50px; 0 50px 0;"}

  %p{style: "text-align: center;"}
    %strong Выезд мастера для осмотра места работ и оценки стоимости ремонта
    %em{class: "blue"} бесплатно!
  %p{style: "text-align: center;"}
    %strong Обращайтесь ежедневно! Возможны скидки, звоните!

  %hr{style: "margin: 50px; 0 50px 0;"}

  %div{style: "text-align: center;"}
    - img = Image.find_by_alt("slog")
    = image_tag img.tagline.url(:med), alt: "#{img.alt}"
