%h1 Поклейка обоев на флизелиновой основе
%article
  %p
    Поклейка обоев на флизелиновой основе очень популярна, так как оформление
    стен в квартире или другом помещении оказывает значительное влияние на
    восприятие и привлекательность всего интерьера. Обращение к профессионалам
    гарантирует наилучший результат. Наш специалист выполнит отделочные работы
    очень качественно и профессионально, ведь для него это - ежедневная работа.
  %p
    Звоните и получите квалифицированный совет, информацию о скидках или узнайте
    ориентировочную стоимость поклейки флизелиновых обоев в Вашем помещении:

  = render "partials/contacts"

  %h2 Стоимость поклейки флизелиновых обоев мастером
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto; margin-bottom: 15px;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цена
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}

  %p{ style: "color: #800;" }
    %strong
      %sup *
      Внимание!
    Окончательная стоимость и скидки на определенные виды работ по подготовке
    стен и поклейке флизелиновых обоев определяется после осмотра мастером места работ.
    %strong Вызов мастера бесплатно!
    Стоимость поклейки флизелиновых обоев будет неизменна до окончания работ.

  %p{ style: "text-align: center; color: blue; font-size: 12 pt;" }
    %strong
      Указана цена работ без стоимости расходных и стройматериалов!
      %br
      Работаем без предоплат!

  = render "partials/image", image_alt: "pokleyka-oboev-na-flizelinovoy-osnove", image_type: "vid_rabot"
  %p
    Каждый человек, который заходит в помещение, обращает внимание на стены.
    Не случайно их оформлению придается такое большое значение. Разнообразие
    стеновых отделочных материалов огромно, но обои остаются самыми популярными,
    а именно обои на основе флизелина.
  %p
    Процесс поклейки не сложный, но существует множество нюансов, не зная о
    которых можно свести на нет все положительные результаты от выполнения
    ремонтных работ в квартире.
  %p
    Мы выполним весь спектр работ по поклейке флизелиновых обоев:
  %ul
    %li удаление старых обоев;
    %li очистка стен от загрязнений и неровностей;
    %li оштукатуривание, шпаклевка, грунтовка поверхности;
    %li собственно поклейка обоев;

  %h3 Поклейка флизелиновых обоев мастером, преимущества:
  %table
    %tr
      %td
        %i.material-icons{ style: "font-size: 30px;" } check
      %td
        Решается проблема дефицита свободного времени. У Вас будет больше
        времени для досуга, что ценно в условиях современного ритма жизни в
        большом городе;
    %tr
      %td
        %i.material-icons{ style: "font-size: 30px;" } check
      %td
        Человеку без навыков по поклейке обоев на флизелине достаточно сложно
        выполнить эту трудоемкую процедуру. Но для нашего частного мастера
        поклейка флизелиновых обоев - обычный рабочий день. Таким образом
        решается проблема отсутствия опыта;
    %tr
      %td
        %i.material-icons{ style: "font-size: 30px;" } check
      %td
        Нет необходимости изучать свойства различных видов флизелиновых обоев и
        технологии поклейки, в то время как наши специалисты знают о них все.
        Решается проблема отсутствия знаний свойств флизелиновых обоев.

  %h2 Особенности работы с флизелиновыми обоями
  %p
    Флизелин часто называют "улучшенной бумагой", так как он более стойкий к
    истиранию, прочный и огнестойкий. Состоит этот материал из целлюлозных
    волокон, как и бумага, но волокна скреплены полимером.
  = render "partials/image", image_alt: "pokleyka-flizelinovyh-oboev-masterom", image_type: "vid_rabot"
  %p
    Флизелиновые обои бывают двух видов: флизелиновые, которые полностью состоят
    из флизелина, и обои с покрытием из винила на флизелиновой основе.
  %p
    Флизелиновые обои чаще всего используют под покраску. Они имеют фактурную
    поверхность, имитирующую декоративную штукатурку или какой-нибудь рисунок.
    Красить такие обои можно неоднократно, меняя таким образом внешний вид
    комнаты быстро и недорого.
  %p
    Обои на флизелиновой основе состоят из двух слоев. Верхний слой винила
    определяет декор обоев - фактурный или с рисунком. Нижний слой - флизелин,
    который абсолютно гладкий и похож на бумагу. Поклейка может выполняться на
    различные поверхности: на гипсокартон, на бетон, на штукатурку,
    на деревянные панели и так далее.
  %p
    %strong
      Как определить флизелиновые обои? При надрыве флизелиновых обоев край
      будет волокнистым. Но если край надрыва получился зубчатым, значит
      основа данных обоев бумажная.
  %p
    Основное преимущество флизелиновых обоев - это устойчивость к деформациям.
    Они не ссыхаются, не проседают и не растягиваются после поклейки. Плотная
    структура защищает их от механических повреждений и улучшает звукоизоляцию
    помещения. Однако, толщина не мешает флизелиновым обоям пропускать воздух.
  %p{ style: "color: blue;" }
    %strong
      Специалисты, работающие в нашей частной бригаде, выполняют услуги по
      поклейке флизелиновых обоев не один год и знают все тонкости работ с
      этим материалом. Звоните нам, если Вам важно, как будут выглядеть обои
      на Ваших стенах. Мастера работают быстро и профессионально. Результат
      превзойдет все Ваши ожидания!
