%h1 Поклейка виниловых обоев
%article
  %p
    Отделка стен моющимися обоями очень популярна в тех помещениях, где
    предполагается частая влажная уборка. Это может быть кухня, прихожая или
    санузел. Но поклеить их правильно и качественно сможет не каждый. Сейчас в
    Москве поклейка виниловых обоев и цена работ доступна и позволяет заказать
    профессиональные услуги, не "убивая" на это занятие собственное свободное
    время. Звоните и консультируйтесь о стоимости работ мастера, скидках и
    сроках выполнения!
  = render "partials/contacts"

  %h2 Поклейка виниловых обоев мастером цена
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto; margin-bottom: 15px;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цена
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}
  %p{ style: "color: #800;" }
    %em
      %strong
        %sup *
        Внимание!
      Окончательная цена и скидки на определенные виды работ по подготовке
      стен и поклейке виниловых обоев определяется после осмотра мастером
      места работ.
      %strong Выезд мастера бесплатно!
      Цена поклейки виниловых обоев будет неизменна до окончания работ.

  %p{ style: "text-align: center; color: blue; font-size: 12 pt;" }
    %strong
      Указана цена работ без стоимости расходных и стройматериалов!
      %br
      Работаем без предоплат!

  = render "partials/image", image_alt: "pokleyka-vinilovyh-oboev", image_type: "vid_rabot"
  %p
    Выбирая услуги наших специалистов, Вы можете решить много задач сразу. Ведь
    наши частные мастера являются специалистами в смежных областях
    ремонтно-отделочных работ. Они не только  могут профессионально поклеить
    виниловые обои, но и
    = link_to "выполнят покраску стен и потолка", vidy_rabot_pokraska_sten_potolka_cena_path
    , фактурную штукатурку, покраску "структурные краски" и так далее.
  %p
    Моющиеся виниловые обои представляют собой настенное покрытие, основу
    которого составляет бумага или флизелин, а верхний слой - поливинилхлорид.
    Если основой выступает флизелин, то такие обои будут называться флизелиновые.
    Иногда в состав входит антигрибковый компонент. Нижний слой необходим для
    приклеивания обоев к основанию. Верхний слой может иметь тиснение или иллюстрации.

  %h2 Виниловые обои, разновидности
  %p
    Современные инновационные технологии, которые лежат в основе производства
    виниловых обоев, позволяют сделать их очень прочными, надежными и
    долговечными. Оклейка стен виниловыми обоями визуально увеличивает
    пространство и гарантирует длительный результат.
  %ol
    %li
      %em
        Структурные виниловые обои
      на основе вспененного винила без тиснения. Разнообразная фактура хорошо скрывает неровности стен и придает интерьеру эксклюзивность. Плотный материал выглядит очень необычно.
    %li
      %em
        Виниловые обои на основе горячего тиснения:
  %ul
    %li
      %strong
        компакт-винил.
      Это имитация тяжелых материалов (камень, текстиль, фактурная штукатурка).
      Такие обои хорошо переносят длительные механические нагрузки, в уходе неприхотливы.
    %li
      %strong
        шелкография.
      Этот метод стал широко известен благодаря дизайнерским решениям. Наиболее
      популярен в отделке помещений, но шелкографию рекомендуется использовать
      на тщательно подготовленных к поклейке обоев стенах, с предварительным выравниванием стен.
    %li
      %strong
        тяжелый винил
      отлично сглаживает неровные стены, но стоит заметить, что пестрота обоев
      с этим справляется лучше. Можно сделать много декоративных эффектов.
    %li
      %strong
        химическое тиснение
      (ингибирование). Такие обои обладают высокими показателями прочности,
      стойкости к УФ-лучам. Виниловые обои с химическим тиснением можно мыть с
      использованием моющих средств.

  %p{ style: "color: blue;" }
    Такая простая с виду задача, как оклейка стен виниловыми обоями, на самом
    деле может таить в себе массу неприятных нюансов. Чтобы минимизировать риски
    и гарантировать высокий результат данных отделочных работ, обращайтесь
    к профессионалам!
