%h1 Шпаклевка стен под покраску цена
%article
  %p
    Чтобы хорошо и профессионально покрасить стены, нужна тщательная подготовка
    поверхности и грамотно выполненная шпаклевка стен под покраску, цена на
    которую указана ниже в таблице. Выполнение шпаклевочных работ на высоком
    уровне гарантирует Вам отличный результат покраски стен.
  %p
    Мастера частной бригады "Ремонтами 7" по выгодным расценкам выполнят
    надлежащую черновую подготовку стен перед покраской. Позвоните и убедитесь
    в адекватности наших цен!

  = render "partials/contacts"

  %h2 Цена шпаклевания стен под покраску
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цена
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}
  %p{ style: "color: #800;" }
    %strong Внимание!
    Окончательная стоимость шпатлевки стен под покраску в Московской области и
    Москве и скидки на определенные виды работ определяются после
    осмотра мастером места работ.
    %strong Выезд мастера бесплатно.
    Стоимость будет неизменна до окончания работ.

  %p{ style: "color: blue; text-align: center;" }
    %strong Указана стоимость работ без стоимости расходных и стройматериалов

  = render "partials/image", image_type: "vid_rabot", image_alt: "shpaklevka-steny-pod-pokrasku"

  %p
    Перед началом шпаклевочных работ требуется тщательно прогрунтовать
    поверхность с тем, чтобы увеличить сцепление стены со шпаклевочным составом.
    Нанесение шпаклевки возможно в два или три слоя в зависимости от того, под
    покраску или под обои делается шпаклевка.
  %p
    Наши специалисты выполнят шпаклевку под покраску в 3 слоя. Шпаклевочный слой
    требуется отшлифовать, чтобы исключить мелкие шероховатости и неровности.
  %p
    Для нанесения шпаклевки внутри помещения мы используем самые популярные и
    хорошо себя зарекомендовавшие составы на цементной или гипсовой основе, н
    апример Ветонит или Кнауф.
  %p{ style: "color: blue;" }
    %strong
      Обращайтесь к нам, и мы не только подскажем самый лучший шпаклевочный
      состав, который подойдет Вам по цене и качеству, но и на высоком уровне
      выполним шпаклевку стен под покраску!
