%h1 Шпаклевка стен цена за квадратный метр
%article
  %p
    Перед дальнейшей чистовой отделкой стены требуется хорошо прошпаклевать.
    Шпаклевка стен, цена за квадратный метр  работы за которую у специалистов
    нашей частной бригады "Ремонтами 7" указана в таблице, гарантирует идеальную
    подготовку поверхности для последующей качественной покраски или поклейки
    обоев.
  %p
    Наши мастера с удовольствием выполнят для Вас шпаклевку стен или потолка по
    выгодным и адекватным ценам, звоните!

  %table{style: "width: 100%;"}
    %tbody
      %tr
        - unless browser.device.mobile?
          %td{ rowspan: 3 }
            - img = Image.find_by_alt("contact")
            = image_tag img.static_image.url(:med), alt: "#{img.alt}"
        %td
          %span
            %strong
              По тел:
              %a{ href: "tel:#{@default_phone_normal}", class: "blue" }= @default_phone
        - unless browser.device.mobile?
          %td{ rowspan: 3 }
            - img = Image.find_by_alt("qr-code")
            = image_tag img.static_image.url(:med), alt: "#{img.alt}"
      %tr
      %tr
        %td
          %span
            %strong
              По почте:
              %a{ href: "mailto:info@remontami7.ru", target: "_blank" } info@remontami7.ru

  %h2 Шпатлевка стен и цена за м2 работ в Москве и МО

  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цена
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}

      %tr
        %td{ style: "text-align: center;", colspan: 2 }
          %strong Дополнительные услуги

      - for i in 0...@additional_service_names.size
        %tr
          %td{ style: "text-align: center;" }= @additional_service_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @additional_service_prices[i]
            руб/#{@additional_service_units[i].html_safe}

  %p{ style: "color: #800;" }
    %em
      %strong Внимание!
      Окончательная стоимость шпаклевки стен за квадратный метр в Московской
      области и Москве и скидки на определенные виды работ определяются после
      осмотра мастером места работ.
      %strong Выезд мастера бесплатно.
      Стоимость будет неизменна до окончания работ.

  %p{ style: "text-align: center; color: blue;" }
    %strong Указана стоимость работ без стоимости расходных и стройматериалов

  %h3 Преимущества работы с нами
  %p
    Излише говорить, что со шпаклевочными работами самостоятельно не справиться.
    Подготовку поверхности к дальнейшим отделочным работам дожен выполнить
    специалист! Мастер тщательно и профессионально сделает шпаклевку стен по
    самым оптимальным расценкам, отшлифует и подготовит к дальнейшей покраске
    или поклейке обоев.
  %table
    %tbody
      %tr
        %td
          %i.material-icons check_circle
        %td
          %strong Работаем без предоплат по факту выполнения!
      %tr
        %td
          %i.material-icons check_circle
        %td
          %strong Наши цены прозрачны. У нас нет пунктов дополнительных расходов!
      %tr
        %td
          %i.material-icons check_circle
        %td
          %strong Нет ограничений в объемах работ
      %tr
        %td
          %i.material-icons check_circle
        %td
          %strong Работаем быстро и профессионально!

  %h2 Шпаклевка стен, этапы работ
  %p
    Итоговые цены на шпаклевку стен и потолка будут зависеть от объема
    выполненных работ, которые потребовались для качественного выравнивания и
    подготовки поверхности. Можно выделить основные этапы в работе специалистов:

  %ol
    %li Первоначальный осмотр и определение необходимых работ;
    %li Грунтовка поверхности для наилучшего сцепления шпатлевочного состава;
    %li Собственно само шпаклевание стен (или потолка);
    %li Шлифовка шпаклевочного слоя и зашкуривание мелких неровностей.
  %p
    Здесь стоит сказать, что в некоторых случаях может потребоваться нанесение
    шпаклевочного слоя 2, 3 и даже более раз. Каждый шпаклевочный слой наносится
    на прогрунтованную поверхность. Для подготовки стен под покраску необходимо
    более тщательно выполнить шпаклевание, а под дальнейшую поклейку обоев
    достаточно двух раз.

  %h3 Для чего нужно шпатлевать?
  %p
    Основным критерием выполнения высококачественных ремонтных и отделочных
    работ является идеально ровная поверхность. Именно подготовке основы хороший
    мастер уделяет особое внимание. Так вот шпаклевание поверхности стены или
    потолка с последующей шлифовкой и создает ровную и гладкую основу, пригодную
    хоть для покраски, хоть для поклейки обоев.
  %p
    Вообще работы по отделке стен делятся на три основных этапа:
  %ol
    %li
      %strong Демонтаж.
      Первоначально перед отделкой нужно тщательно удалить старый слой шпаклевки, остатки краски или клея от предыдущих обоев, сами обои.
    %li
      %strong Черновая подготовка поверхности к отделке.
      Сюда входит выравнивание стен (при желании их выровнять) с использованием
      штукатурных составов, армирование и шпаклевание. Выравнивание стен несет
      эстетическую нагрузку и всецело зависит от желания хозяев и их финансовых
      возможностей. Шпатлевка и шлифовка - техническая необходимость.
    %li
      %strong Завершающий этап отделки:
      покраска, поклейка обоев и т.д.
  %p
    Многие склонны пропускать черновую подготовку и делать только первый и
    последний пункт. Важность выполнения пропущенных работ становится очевидной
    после завершающей отделки, когда уже поздно что-то изменить.
