%h1 Шпаклевка стен под обои цены
%atricle
  %p
    Для качественной поклейки обоев требуется подготовить поверхность. С этим
    справится шпаклевка стен под обои, цены на которую указаны ниже в таблице.
    Выполнение этих работ гарантирует надлежащую подготовку стены для
    последующей высококачественной поклейки обоев.
  %p
    Специалисты частной бригады "Ремонтами 7" выполнят шпатлевание стен с
    последующей шлифовкой по адекватным и доступным ценам, а результат поклейки
    обоев будет радовать Вас своей безупречностью!

  = render "partials/contacts"

  %h2 Шпаклевка стен под обои и цены за работу
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цены
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}
  %p{ style: "color: #800;" }
    %strong Внимание!
    Окончательная стоимость шпатлевки стен под обои в Московской области и
    Москве и скидки на определенные виды работ определяются после
    осмотра мастером места работ.
    %strong Выезд мастера бесплатно.
    Стоимость будет неизменна до окончания работ.
  %p{ style: "text-align: center; color: blue;" }
    %strong Указана стоимость работ без стоимости расходных и стройматериалов

  %h2 Что входит в шпаклевку стен под обои?
  %p
    Для получения ровной и пригодной для поклейки обоев поверхности стены ее
    достаточно прошпаклевать 2 раза, т.е с нанесением шпаклевки в 2 слоя.
    Работы выполняются следующим образом:
  %ol
    %li
      %strong Демонажные работы.
      Удаление всех остатков старого клея, краски или обоев. Если нужно
      подготовить стены к поклейке обоев в новостройке, то счищение наплывов
      из штукатурного слоя; Рекомендуем проклеить стены малярным холстом,
      который предотвратит растрескивание шпаклевочного слоя. Особенно это
      актуально в подверженной усадке и деформации новостройке.
    %li
      %strong Грунтовка.
      Необходимо хорошо промочить поверхность для улучшения адгезии со
      шпаклевочным слоем, который затем будет наносится. Обязательно дать
      высохнуть грунтовке!
    %li
      %strong Шпаклевание.
      Шпаклевка наносится на сухую поверхность.
    %li
      %strong Шлифовка или ошкуривание поверхности.
      Это необходимо для устранения мелких неровностей шпаклевочного слоя.
  = render "partials/image", image_alt: "shpatlevka-sten-pod-oboi", image_type: "vid_rabot"
  %p
    Этап 2,3,4 выполняется повторно. Таким образом, качественная подготовка
    стен к поклейке обоев заключается в шпаклевании в 2 слоя. После этого можно
    приступать к поклейке обоев, и результат этих отделочных работ будет очень
    высоким.
  %p
    Сейчас в Интернете много видео о том, что сделать шпаклевку стен под обои не
    сложно и вполне возможно самостоятельно. Наши специалисты настоятельно не
    рекомендуют делать такие работы самому (возможно, ради экономии денег).
    Шпатлевка стен под обои должна выполняться специалистом, который обладает
    нужными навыками и необходимыми знаниями этого процесса.
  %p
    Мастера частной бригады "Ремонтами 7" имеют нужные навыки, а умение
    разбираться в современных шпаклевочных материалах поможет достигнуть лучших
    результатов и снизить общую стоимость шпаклевки стен под обои! Звоните,
    договоримся.
