%h1 Стоимость штукатурки стен за м2
%article
  %p
    Как известно, основой любых отделочных работ считается качественно
    подготовленная поверхность.  Конечное состояние отделки помещения всегда
    зависит от того, насколько грамотно и без нарушений технологии сделана
    штукатурка стен или потолка.
    %strong Бригада частных мастеров Ремонтами7
    в короткие сроки выполнит штукатурку стен и ее выравнивание , цена
    работы на которую доступна и зависит от площади стен.

  %h2
    Стоимость штукатурки стен за м
    %sup 2
    работы

  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp{ style: "min-width: 75%; margin: auto; margin-bottom: 15px;" }
    %thead
      %tr
        %th{ style: "text-align: center;" } Наименование работ
        %th{ style: "text-align: center;" } Цена
    %tbody
      - for i in 0...@work_names.size
        %tr
          %td{ style: "text-align: center;" }= @work_names[i].html_safe
          %td{ style: "text-align: center;" }
            %strong= @work_prices[i]
            руб/#{@work_units[i].html_safe}
  %p
    %em
      Полный перечень услуг смотрите в разделе
      = link_to "Цены", ceny_path

  = render "partials/image", image_alt: "shtukaturka-sten-i-vyravnivanie", image_type: "vid_rabot"

  %p
    Перед окрашиванием стены необходимо выровнять, и делают это при помощи
    нанесения штукатурного слоя толщиной от 1 см до 4 см. Толщина этого самого
    слоя зависит от того, насколько кривые стены были изначально в помещении.
  %p
    Иногда требуется нанесение штукатурного слоя даже более чем 4 см. Тогда
    выполняют штукатурку стен с армированием, где используется специальная
    сетка, которая не позволит раствору сползти вниз по стене.
  %p
    %em
      Обратившись за помощью к нашим специалистам, Вы получите идеально готовые
      стены для дальнейшей покраски или других отделочных работ.
  %p
    Не смотря на многочисленные новые методы оштукатуривания стен традиционная
    штукатурка под покраску остается самой популярной благодаря наличию большого
    числа преимуществ:
  %table
    %tbody
      %tr
        %td
          %i.material-icons arrow_forward
        %td
          Качественно сделанная штукатурка позволяет обходиться без ремонта
          (за исключением финишной отделки) свыше 30 лет;
      %tr
        %td
          %i.material-icons arrow_forward
        %td
          Не высокая стоимость работ и строительного материала по сравнению с
          гипсокартоном, например;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Поверхность ровная, крепкая и надежная;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Сделанная вручную мастером всегда лучше механизированной.

  %p
    Главное предназначение штукатурки стен – это выравнивание, и его можно
    сделать с помощью гипсокартона. Обшивание стен гипсокартонном делается в
    том случае, когда стены очень сильно искривлены. В этом случае экономится
    время, расходы на строительные материалы и оплату работы, но помещение
    сильно потеряет в площади, так как обшивка стен гипсокартоном «съедает»
    пространство.

  %h3 Виды штукатурки
  %p
    Разновидностей штукатурного состава много, но специалисты нашей бригады
    используют только самые лучшие составы для внутренних работ.
    = link_to "Вот здесь", rashod_materialov_path
    можно посмотреть самые подходящие и проверенные временем материалы для
    штукатурки стен. Если в помещении нормальная влажность, то используем
    штукатурки известковые, гипсовые, известково-гипсовые или
    цементно-известковые растворы. Для получения очень прочной и крепкой
    поверхности  используют состав с большим содержанием цемента.
  %p
    Но с выполнением штукатурки стена еще не готова к дальнейшим отделочным
    работам, необходимо
    = link_to "сделать шпаклевку стен.", vidy_rabot_shpaklevka_sten_cena_path
    Хотя смотря какое помещение:
    если это техническое помещение и нет никаких требований к поверхности, то
    можно сделать покраску сразу по штукатурному слою. В этом случае покраска
    защитит штукатурку.  Однако если необходимо качество, как
    = link_to "в случае косметического ремонта в комнате", vidy_remonta_kosmeticheskij_remont_komnaty_path
    или любом другом помещении, где люди
    живут и работают, то шпаклевать стены перед покраской или поклейкой
    обоев обязательно.
  %table
    %tbody
      %tr
        %td{ style: "width: 40px;" }
          %i.material-icons{ style: "font-size: 30px;" } warning
        %td{ style: "color: #800; font-size: 11pt;" }
          Использование дорогостоящих и очень качественных штукатурных
          материалов не гарантирует высокое качество работ по подготовке к
          отделке! Имеет огромное значение качественно выполненная штукатурка
          и мастерство специалиста.
