= form_for @gallery do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      %ul
        - @gallery.errors.full_messages.each do |message|
          %li= message
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :title,      class: "mdl-textfield__label"
    = f.text_field :title, class: "mdl-textfield__input"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :alt,        class: "mdl-textfield__label"
    = f.text_field :alt,   class: "mdl-textfield__input"

  = f.add_nested_fields_link :gallery_images, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect update-dom" do
    %i.material-icons add_a_photo
  = render "gallery_image_form", f: f
  .row
  = f.submit 'Сохранить', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
