%h1 Наши работы
= link_to new_gallery_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" do
  %i.material-icons library_add


- @galleries.each do |gallery|
  .mdl-grid
    %h2.mdl-cell.mdl-cell--8-col= gallery.title
    .mdl-cell.mdl-cell--4-col
      = link_to edit_gallery_path(gallery), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
        %i.material-icons edit
      = link_to gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
        %i.material-icons delete

    %h3.mdl-cell.mdl-cell--12-col= gallery.alt
    - gallery.gallery_images.each do |gallery_image|

      - if gallery_image.image.exists? && gallery_image.cover==true
        - gallery_image_cover_to_thumb_url = gallery_image.image.url(:thumb)
        - if browser.device.mobile?
          .mdl-cell.mdl-cell--12-col= image_tag gallery_image.image.url(:mobile_cover), class: "gallery_cover", data: { gallery_image_cover_to_thumb_url: gallery_image_cover_to_thumb_url }
        - elsif browser.device.tablet?
          .mdl-cell.mdl-cell--12-col= image_tag gallery_image.image.url(:tablet_cover), class: "gallery_cover", data: { gallery_image_cover_to_thumb_url: gallery_image_cover_to_thumb_url }
        - else
          .mdl-cell.mdl-cell--12-col= image_tag gallery_image.image.url(:cover),        class: "gallery_cover", data: { gallery_image_cover_to_thumb_url: gallery_image_cover_to_thumb_url }

      - elsif gallery_image.image.exists? && gallery_image.cover==false
        - if browser.device.mobile?
          - gallery_image_thumb_to_cover_url = gallery_image.image.url(:mobile_cover)
        - elsif browser.device.tablet?
          - gallery_image_thumb_to_cover_url = gallery_image.image.url(:tablet_cover)
        - else
          - gallery_image_thumb_to_cover_url = gallery_image.image.url(:cover)
        .mdl-cell.mdl-cell--2-col= image_tag gallery_image.image.url(:thumb),           class: "gallery_thumb", data: { gallery_image_thumb_to_cover_url: gallery_image_thumb_to_cover_url }
%br
