%h1 Наши работы
- if current_user && current_user.admin
  = link_to new_gallery_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" do
    %i.material-icons library_add
  .row
- for i in 0...@galleries.size
  - link = show_images_url(id: @galleries[i].id)
  - if current_user && current_user.admin
    = link_to edit_gallery_path(@galleries[i]), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
      %i.material-icons edit
    = link_to @galleries[i], method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
      %i.material-icons delete
  %a.mdl-button.mdl-js-button.mdl-button--raised.show_images{style: "height: 105px; margin-bottom: 10px; text-transform: none; padding: 0; width: 100%;", href: link, data: { remote: "true", method: "post", open: "false" }, rel: "nofollow" }
    %table
      %tbody
        %tr
          %td= image_tag @main_gallery_thumb_urls[i]
          %td
            = @galleries[i].title
            %i.material-icons arrow_drop_down_circle
  .show_images_block{style: "background: black;"}
