%h1 Стоимость чернового ремонта в новостройке
%article
  %p
    - img = Image.find_by_alt("Стоимость чернового ремонта в новостройке")
    = image_tag img.info_image.url(:small), alt: img.alt, align: "right"
    Мы понимаем, что для Вас очень важно просчитать все затраты на проведение
    чернового ремонта квартиры. Именно поэтому у нас стоимость чернового ремонта
    в новостройке категории Стандарт совершенно прозрачна и не содержит скрытых
    пунктов для дополнительных расходов.
  %strong
    Квартира площадью 50 м
    %sup 2
    , санузел стандартный 3,5 м
    %sup 2

  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    %thead
      %tr
        %th{style: "text-align: center;"} Вид работ
        %th{style: "text-align: center;"} Объём работ
        %th{style: "text-align: center;"} Цена, руб
        %th{style: "text-align: center;"} Сумма, руб
    %tbody
      -# Пол
      %tr
        %td{colspan: "4", style: "text-align: center;"}
          %strong Пол (стяжка)
      - for i in 0...@floor_names.size
        %tr
          %td{style: "text-align: center;"}= @floor_names[i]
          %td{style: "text-align: center;"}
            50
            м
            %sup 2
          %td{style: "text-align: center;"}= @floor_prices[i].round
          %td{style: "text-align: center;"}= @floor_prices[i].round * 50
      %tr
        %td{colspan: "4", style: "text-align: right;"}
          %strong
            ИТОГО:
            = @sum_floor_price.round
      -# Стены
      %tr
        %td{colspan: "4", style: "text-align: center;"}
          %strong Выравнивание стен
      - for i in 0...@wall_names.size
        %tr
          %td{style: "text-align: center;"}= @wall_names[i]
          %td{style: "text-align: center;"}= "#{@wall_volumes[i]} #{@wall_units[i]}".html_safe
          %td{style: "text-align: center;"}= @wall_prices[i].round
          %td{style: "text-align: center;"}= @wall_prices[i].round * @wall_volumes[i].round
      %tr
        %td{colspan: "4", style: "text-align: right;"}
          %strong
            ИТОГО:
            = @sum_wall_price.round
      -# Электрика
      %tr
        %td{colspan: "4", style: "text-align: center;"}
          %strong Электрика
      - for i in 0...@electric_names.size
        %tr
          %td{style: "text-align: center;"}= @electric_names[i]
          %td{style: "text-align: center;"}= "#{@electric_volumes[i]} #{@electric_units[i]}"
          %td{style: "text-align: center;"}= @electric_prices[i].round
          %td{style: "text-align: center;"}= @electric_prices[i].round * @electric_volumes[i].round
      %tr
        %td{colspan: "4", style: "text-align: right;"}
          %strong
            ИТОГО:
            = @sum_electric_price.round
      %tr
        %td{colspan: "4", style: "text-align: right;"}
          %strong
            Всего работ на сумму:
            = @sum_price.round
      %tr
        %td{colspan: "4", style: "text-align: right;"}
          %strong
            %div{style: "color: red; display: inline;"} Цена за 1 м
            %sup{style: "color: red;"} 2
            по квартире (
            = @sum_price.round
            руб/50 м
            %sup 2
            ) равна
            %div{style: "color: red; display: inline;"}= @one_meter_price.round
            руб/м
            %sup 2
  %p{style: "color: #993300;"}
    Внимание! Скидки на определенные виды работ определяются после осмотра места
    работ мастером.
    %strong Выезд мастера бесплатно!
    Стоимость работ по черновому ремонту
    в новостройке будет неизменна до окончания работ.
  %p
    Посмотрите для сравнения
    = link_to "черновой ремонт Комфорт", { controller: :informaciya, action: :chernovoj_remont_komfort }
  %p
    %sup{style: "color: blue;"} *
    Цена чернового ремонта квартиры не всегда рассчитывается исходя из стоимости
    1 кв.метра и зависит от множества факторов. Точная оценка стоимости ремонта
    производится при составлении сметы
    (с подробным описанием всех работ, в т.ч. скрытых) и спецификации материалов.
    На весь период ремонта цены на работы, указанные в смете, фиксируются и пересмотру
    не подлежат. Ориентировочную итоговую стоимость интресующих работ может назвать мастер.
  %p
    - img = Image.find_by_alt("stoimost-chernovogo-remonta")
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "left", hspace: "10"), img.info_image.url(:original), target: "_blank"
    Наш специалист обладает огромным опытом в выполнении черновых работ в
    новостройках и подскажет, какие работы требуется выполнить в обязательном
    порядке, так как они будут основой для выполнения дальнейшей качественной
    чистовой отделки квартиры, а какие не обязательно или можно сделать позже.
  %p
    Бригада частных мастеров Ремонтами 7 сделает недорогой и качественный черновой
    ремонт в новостройке, стоимость которого зависит от тех строительных материалов,
    которые будут приобретены. При необходимости мы всегда можем порекомендовать
    лучший строительный материал и необходимый объем. Мы имеем долгосрочные и
    выгодные контакты на приобретение качественных строительных материалов со скидками!
  %hr
  %em
    Помните, что черновая отделка квартиры - крайне важный этап, именно он
    фундамент и залог качественной отделки!
  %hr
