%h1 Теплый пол в квартире электрический
%article
  - img = Image.find_by_alt("пример укладки теплого электрического пола в квартире")
  - if browser.device.mobile?
    = link_to (image_tag img.info_image.url(:small), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  %p
    Сейчас все большее распространение получают альтернативные способы
    отопления. Они позволяют не зависеть от коммунальных служб и всегда
    поддерживать комфортную температуру в доме. Но иногда альтернативные системы
    отопления могут стать основными. Мы говорим о системе под названием
    %strong теплый пол в квартире электрический
    , которую все чаще используют при
    профессиональном ремонте квартир в Москве.
  %p
    %strong Система теплый пол электрический
    имеет много преимуществ, и одно из них - равномерный прогрев помещения.
    В качестве нагревательного элемента выступает вся поверхность пола, а
    не одного-двух радиаторов. В результате подогретый воздух более равномерно
    циркулирует по комнате.
  %p
    Не ждите, пока пустят горячую воду в радиаторы центрального отопления. Детям
    нет нужды ходить в тапочках и более теплой одежде. Дома всегда будет
    комфортная температура, а значит тепло и уют гарантирован!

  - img = Image.find_by_alt("схема прогревания воздуха в комнате с системой теплый пол")
  - if browser.device.mobile?
    = link_to (image_tag img.info_image.url(:small), alt: img.alt, align: "left"), img.info_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "left"), img.info_image.url(:original), target: "_blank"
  %p
    Из-за того, что разница между температурой пола и воздуха комнаты составляет
    3-4 градуса, тепловые потоки не циркулируют. Следовательно, в комнате с
    системой теплого электрического пола не поднимается, что повышает показатели
    комфортности с гигиенической точки зрения. К слову, разница температур пола
    и воздуха комнаты с традиционным радиаторным отоплением может достигать 35
    градусов.
  %p
    Кабельные электрические теплые полы и пленочные инфракрасные - оптимальный
    вариант отопления для коттеджей и квартир, офисов, производственных,
    промышленных и служебных помещений. Такие полы можно устанавливать под любые
    напольные покрытия. Возможен вариант монтажа теплого пола на этапе
    устройства стяжки, что актуально
    = link_to "при капитальном ремонте в жилых помещениях Москвы", { controller: :vidy_remonta, action: :kapitalnyj_remont_kvartir }, target: :_blank
    или
    = link_to "при ремонте и отделке нового жилья", { controller: :vidy_remonta, action: :remont_v_novostrojke }, target: :_blank
    = "."
    Проектировка современных новостроек с достаточной высотой потолков позволяет сделать
    %strong кабельный электрический теплый пол.

  - img = Image.find_by_alt("пример работы мастера по устройству инфракрасного пленочного теплого пол")
  - if browser.device.mobile?
    = link_to (image_tag img.info_image.url(:small), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  %p
    Теплые полы не дороги в эксплуатации, так как предусмотрено использование
    терморегулятора.
    %strong Инфракрасный пленочный теплый пол
    имеет толщину 3,5-4 мм и монтируется на уже готовую стяжку. Таким образом,
    монтаж этой системы совершенно не поднимает уровень пола в комнате.

  %h2 Преимущества теплых полов
  %ul
    %li
      Равномерное распределение тепла. Градус температуры пола несколько выше,
      чем под потолком комнаты, и здесь поговорка "держи ноги в тепле, а голову в
      холоде" становится очень подходящей. Такое распределение тепла хорошо
      сказывается на здоровье;
    %li
      Срок эксплуатации системы теплый пол 15 лет, что подтверждает гарантия
      производителя;
    %li Тонкая пленка "не ворует" высоту потолков комнаты;
    %li Простой и быстрый монтаж.
  %p
    В случае установки кабельного электрического теплого пола, что наилучшим
    образом подходит для ванной комнаты и кухни, можно использовать
    нагревательные маты. Это дает возможность менять шаг укладки нагревательного
    элемента для оптимальной интенсивности обогрева. Сам материал экологически
    безопасен и просто монтируется.
  %p{style: "color: #993300;"}
    %em
      Мы профессионально проконсультируем и поможем Вам подобрать оптимальный
      вариант теплого электрического пола для квартиры и другого помещения.
      Предусмотрены скидки на стоимость услуги по монтажу теплого пола.
