%h1 Расчет керамзита на стяжку пола
%article
  - img = Image.find_by_alt("стяжка_с_керамзитом_по_уровню.jpg")
  - if browser.device.mobile?
    = link_to (image_tag img.info_image.url(:small), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  %p
    При устройстве стяжки самым экономичным и экологичным материалом считается
    керамзит. Его получают из вспененной глины путем обжига в специальных печах,
    поэтому керамзит - самый что ни на есть экологичный стройматериал.
  %p
    Он идеально подходит в тех случаях, когда требуется сделать стяжку толщиной
    более 5 см, так как значительно экономит материальные затраты на закупку
    материалов для стяжки, снижает нагрузку на бетонные перекрытия и повышает
    теплопроводность. Перед тем, как
    = link_to "делать цементно-песчаную стяжку с керамзитом", { controller: :vidy_rabot, action: :stjazhka_pola_s_keramzitom }, target: :_blank
    , нужно рассчитать, сколько нужно керамзита для своих работ.
  %p
    Расчет керамзита на стяжку пола стандартный.
    %strong
      %span{style: "color: #993300;"}
        При толщине слоя керамзита 1 см требуется 0,01 м3 на квадратный метр площади.
    При покупке в некоторых магазинах керамзит в мешках считается литрами. Тогда вот так: 1 см керамзита в стяжке = 10 литров на м
    %sup 2
    = "."

  %h2 Толщина керамзита в стяжке
  %p
    Чтобы точно узнать, сколько потребуется керамзита на стяжку, необходимо
    определить, какой толщины теплоизоляционный слой требуется. В помещениях
    на первом этаже или над неотапливаемым помещением для обеспечения
    достаточной теплоизоляции толщина керамзитового слоя в стяжке должна быть
    не менее 10 см. В жилых помещениях для достаточной теплоизоляции обычно
    делают толщину керамзита не менее 3-4 см.
  %hr
  %p
    %span{style: "color: #993300;"}
      Таким образом расход керамзита на устройство стяжки в стандартной квартире
      составит минимум (0,03-0,04 м3) или 30-40 литров на м
      %sup 2
      = "."
  %hr
  %p
    Далее требуется общую площадь помещения, где мы делаем стяжку, умножить на
    расход на м
    %sup 2
    , получим общее количество требуемого керамзита.

  %h2 Расход керамзита для стяжки
  %p
    Предположим, необходимо сделать стяжку, толщина керамзитового слоя которой
    составляет 4 см, в комнате площадью 20 м
    %sup 2
    = ". Следовательно:"
  %p
    %strong В кубометрах:
    20 м2 * 0,04 м3 = 0,8 м3
    %br
    %strong В литрах:
    20 м2 * 40 л= 800 литров или 16 мешков объемом 50 литров.
  %p
    На самом деле расход керамзита при устройстве стяжки оказывается больше.
    Причем чем больше площадь под стяжку, тем больше отклонений в расчетах. Это
    связано с тем, что поверхность помещения может иметь уклон, а также при
    установке маяков, потому что профиль поднимается выше, тем самым увеличивая
    расход керамзита. В большинстве случаев требуется 50 литров (0,05 м
    %sup 3
    ) на м
    %sup 2
  %p
    %strong
      %span{style: "text-decoration: underline; color: #0000ff;"}
        Проще говоря 1 мешок керамзита на 1 м
        %sup 2
        стяжки.

  %h2 Какой нужен керамзит для стяжки
  - img = Image.find_by_alt("keramzit")
  - if browser.device.mobile?
    = link_to (image_tag img.info_image.url(:small), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  - else
    = link_to (image_tag img.info_image.url(:med), alt: img.alt, align: "right"), img.info_image.url(:original), target: "_blank"
  %p
    В магазинах стройматериалов керамзит продается в мешках. Для устройства
    стяжки лучше всего использовать керамзит различных фракций, от 5 мм до 20 мм.
  %p
    Дело в том, что во время укладки керамзитового слоя зерна разного диаметра
    "расклиниваются" между собой и предотвращают его усадку во время
    эксплуатации в дальнейшем. Значит Ваша стяжка из-за отсутствия деформации
    не растрескается и не просядет.
