%h1 Расчет площади стен под поклейку обоев
%article
  Для того чтобы определить стоимость услуг при поклейке обоев частным мастером,
  необходимо знать общую площадь стен и периметр комнаты. Бывают такие услуги,
  которые считаются по квадратным метрам, например поклейка или грунтовка. А
  есть такие услуги, для которых требуется знать погонные метры, например,
  монтаж плинтуса или поклейка бордюров. Необязательно пользоваться услугами
  замерщиков, достаточно вспомнить школьную программу по геометрии. Эта
  информация также поможет при подсчете нужного количества обоев, клея и так далее.
  %hr
  %p{style: "color: #993300; font-size: 14pt;"}
    %strong
      Площадь стен = периметр комнаты * на высоту потолка
  %hr
  %p
    Сначала требуется измерить ширину и длину комнаты. Сразу скажем, что
    полученные измерения длины и ширины комнаты нужно переводить в метры.
    К примеру, если длина комнаты 325 сантиметров, то считаем 3,25 метра.
    %br
    %br
    Длина комнаты 4,75 метра
    %br
    Ширина комнаты 3,25 метра
    %br
    %br
    Вычислим периметр комнаты, который равен сумме всех сторон.
    %br
    %br
    P=(a+b)х2, где a и b – это ширина и длина комнаты. Следовательно (4,75+3,25)х2=16 метров.
    %br
    %span{style: "color: #993300;"}
      %strong
        Периметр нашей комнаты равен 16 метров. P=16 метров.
    %br
    Теперь нужно измерить высоту комнаты. Измеряем высоту стены – у нас получилось 2,71 метра.
    %br
    %span{style: "color: #993300;"}
      %strong
        h=2,71 метра.
    %br
    %br
    Чтобы получить площадь стен, нужно периметр комнаты умножить на высоту стен.
    %br
    %br
    S стен =Pхh, где h-высота стен.
    %br
    S стен=16х2,71=43,36 метра.
    %br
    %br
    %span{style: "color: #993300;"}
      %strong
        Площадь стен нашей комнаты 43,36 кв. метра. S=43,36 м
        %sup 2
        = "."
  %p
    Из этой цифры нужно вычесть площадь окон и двери – ведь там клеить обои не
    нужно. У нас в комнате одно окно, площадь которого равна 1,95 м2
    (1,3м х 1,5м). Площадь двери 1,17 м2 (0,61м х 1,92м). Сумма площадей окон и
    дверей, которые не участвуют в поклейке обоев, равна 3,12 м
    %sup 2
    = "."
    %br
    %br
    Чистая площадь стен равна 43,36 - 3,12=40,24 м2.
  %p
    В случаях, когда комната нестандартного размера и не похожа на прямоугольник,
    придется вычислять площадь каждой стены отдельно и потом их суммировать.

  %h2 Таблица площадей стен под обои и покраску
  %p
    Ниже приведена таблица, которая поможет быстро определить площадь стен под
    поклейку обоев (или покраску). Для расчета показателей использована типовая
    площадь окон и дверей. Показатели площади стен различаются по высоте потолка
    помещения:
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    %thead
      %tr
        %th{style: "text-align: center;"}
          Площадь помещения, м
          %sup 2
        %th{style: "text-align: center;"}
          Высота потолка помещения
          %strong{style: "color: #993300;"} 2,50 м
        %th{style: "text-align: center;"}
          Высота потолка помещения
          %strong{style: "color: #993300;"} 2,70 м
        %th{style: "text-align: center;"}
          Высота потолка помещения
          %strong{style: "color: #993300;"} 3,00 м
    %tbody
      - k=29
      - for i in 0...14
        %tr
          %td{style: "text-align: center;"}= i+10
          %td{style: "text-align: center;"}= k
          %td{style: "text-align: center;"}= k+2
          %td{style: "text-align: center;"}= k+4
        - k+=1.5
