= form_for @info do |f|
  - if @info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@info.errors.count, "error")} prohibited this info from being saved:"
      %ul
        - @info.errors.full_messages.each do |message|
          %li= message

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :link,             class: "mdl-textfield__label"
    = f.text_field :link,        class: "mdl-textfield__input"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :title,            class: "mdl-textfield__label"
    = f.text_field :title,       class: "mdl-textfield__input"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :description,      class: "mdl-textfield__label"
    = f.text_field :description, class: "mdl-textfield__input"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :keywords,         class: "mdl-textfield__label"
    = f.text_field :keywords,    class: "mdl-textfield__input"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :name,             class: "mdl-textfield__label"
    = f.text_field :name,        class: "mdl-textfield__input"
  .row
  = f.label :body
  = f.trix_editor :body, as: :trix_editor
  .row
  = f.submit 'Сохранить', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
