%header.mdl-layout__header
  .mdl-layout__header-row
    %a.mdl-layout-title{:href => root_path}
      - if browser.device.mobile?
        =image_tag(Image.where("title = ?", "logo")[0].image.url(:logo), style: "width: 128px; height: 64px;")
      - else
        =image_tag(Image.where("title = ?", "logo")[0].image.url(:logo))
    .mdl-layout-spacer
    - unless browser.device.mobile? || browser.device.tablet?
      %nav.mdl-navigation.mdl-layout--large-screen-only
        = link_to "Главная",           root_path,                                                   class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Цены",              {controller: :main_menu, action: :prices},                   class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Наши работы",       galleries_path,                                              class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Информация",        {controller: :main_menu, action: :information},              class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Расход материалов", {controller: :main_menu, action: :consumption_of_materials}, class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Контакты",          {controller: :main_menu, action: :contacts},                 class: "mdl-navigation__link resize_header_buttuns"
        = link_to "Статьи",            articles_path,                                               class: "mdl-navigation__link resize_header_buttuns"
    .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
      %label.mdl-button.mdl-js-button.mdl-button--icon{:for => "fixed-header-drawer-exp"}
        %i.material-icons search
      .mdl-textfield__expandable-holder
        %input#fixed-header-drawer-exp.mdl-textfield__input{:name => "sample", :type => "text"}
