.mdl-layout__drawer
  - if browser.device.mobile? || browser.device.tablet?
    %span.mdl-layout-title.mdl-layout--small-screen-only Главное меню
    %nav.mdl-navigation.mdl-layout--small-screen-only
      = link_to "Главная",           root_path,                                                   class: "mdl-navigation__link"
      = link_to "Цены",              {controller: :main_menu, action: :prices},                   class: "mdl-navigation__link"
      = link_to "Наши работы",       galleries_path,                                              class: "mdl-navigation__link"
      = link_to "Информация",        infos_path,                                                  class: "mdl-navigation__link"
      = link_to "Расход материалов", {controller: :main_menu, action: :consumption_of_materials}, class: "mdl-navigation__link"
      = link_to "Контакты",          {controller: :main_menu, action: :contacts},                 class: "mdl-navigation__link"
      = link_to "Статьи",            articles_path,                                               class: "mdl-navigation__link"


  %span.mdl-layout-title Виды ремонта
  %nav.mdl-navigation
    %a.mdl-navigation__link{:href => ""} Евроремонт
    %a.mdl-navigation__link{:href => ""} Капитальный
    %a.mdl-navigation__link{:href => ""} Косметический
    %a.mdl-navigation__link{:href => ""} Под ключ
    %a.mdl-navigation__link{:href => ""} Комплексный
    %a.mdl-navigation__link{:href => ""} В новостройке
    %a.mdl-navigation__link{:href => ""} Черновой
    %a.mdl-navigation__link{:href => ""} Частичный
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Отдельными комнатами
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Кухня
        %a{:href => "#"} Прихожая
        %a{:href => "#"} Ванная
        %a{:href => "#"} Гостиная
        %a{:href => "#"} Спальня
        %a{:href => "#"} Детская
        %a{:href => "#"} Туалет санузел


  %span.mdl-layout-title Виды работ
  %nav.mdl-navigation
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Подготовка стен
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Шпаклевка под обои
        %a{:href => "#"} Шпаклевка под покраску
    %a.mdl-navigation__link{:href => ""} Штукатурка
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Поклейка обоев
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Виниловые обои
        %a{:href => "#"} Флизелиновые обои
        %a{:href => "#"} Текстильные обои
        %a{:href => "#"} Под покраску
        %a{:href => "#"} Стеклообои
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Покраска стен потолков
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Покраска стен
        %a{:href => "#"} Покраска потолка
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Стяжка пола
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Самовыравнивающаяся стяжка
        %a{:href => "#"} С керамзитом
    %a.mdl-navigation__link{:href => ""} Укладка ламината
    %a.mdl-navigation__link{:href => ""} Укладка паркетной доски
    .dropdown
      %a.mdl-navigation__link{ "data-toggle": "dropdown" }
        Укладка плитки
        %i.arrow{ "data-arrow": "bottom" }
      .dropdown-content{ "data-dropdown_content": "hidden" }
        %a{:href => "#"} Укладка плитки на стену
        %a{:href => "#"} Укладка плитки на пол
        %a{:href => "#"} Укладка керамогранита
    %a.mdl-navigation__link{:href => ""} Утепление балкона лоджии
    %a.mdl-navigation__link{:href => ""} Установка межкомнатных дверей
    %a.mdl-navigation__link{:href => ""} Натяжные потолки
