!!!
%html
  %head
    %title Remontami7
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', cache: true
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', cache: true
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://code.getmdl.io/1.3.0/material.brown-orange.min.css", :rel => "stylesheet"}/
  %body{class: "#{controller_name} #{action_name}", style: "background-image:url(#{asset_path "background.jpg"}); background-repeat: no-repeat; width: 100%;"}
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      = render "layouts/header"
      = render "layouts/navigation"
      %main.mdl-layout__content
        .content
          = yield
